n8n_workflow.json
{
  "name": "AI Restaurant Scoring Pipeline (Gemini 3.5 Flash)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "673f84bd-8b8d-4e92-a16f-ec823cf0d226",
      "name": "Google Sheets Trigger (Raw Data)",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        200,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [\n    {\n      parts: [\n        {\n          text: \"You are a local food critic and data analyst in Bangkok. Score this restaurant for a team dinner of 8-12 people based on its properties:\\nTitle: \" + ($json.title || \"\") + \"\\nCategory: \" + ($json.categoryName || \"\") + \"\\nRating: \" + ($json.totalScore || \"\") + \"\\nReviews: \" + ($json.reviewsCount || 0) + \"\\nPrice: \" + ($json.price || \"\") + \"\\nAddress: \" + ($json.address || \"\") + \"\\n\\nCalculate the scores according to these rules:\\n1. ratingScore (Max 25): (Rating / 5) * 15 + (log10(Reviews) / log10(5000)) * 10, capped at 10.\\n2. groupSuitabilityScore (Max 20): Evaluate if the type of food, space, and category is suitable for a team of 8-12 (e.g. Shabu, BBQ, big Thai tables score 17-20. Small coffee shops or noodle stalls score 5-10).\\n3. priceSuitabilityScore (Max 15): Moderate price is 15, very cheap is 10, very expensive is 8.\\n4. travelConvenienceScore (Max 15): Distance from BTS/MRT (e.g., 15 for close walk, 8-10 for deep in alleys).\\n5. dataCompletenessScore (Max 15): 2.5 points for each non-empty field (website, phone, address, price, openingHours, url).\\n6. uniquenessScore (Max 10): Michelin, awards, great view, or popularity.\\n\\nSum them to get totalScore. Also write suitabilityNotes in Thai explaining why it fits.\\n\\nRespond ONLY with a JSON object containing these keys:\\nratingScore (number),\\ngroupSuitabilityScore (number),\\npriceSuitabilityScore (number),\\ntravelConvenienceScore (number),\\ndataCompletenessScore (number),\\nuniquenessScore (number),\\ntotalScore (number),\\nsuitabilityNotes (string in Thai)\"\n        }\n      ]\n    }\n  ],\n  generationConfig: {\n    responseMimeType: \"application/json\"\n  }\n}) }}"
      },
      "id": "e2c81604-d2e5-4f46-81cf-be831e13cd22",
      "name": "Call Gemini API (gemini-3.5-flash)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const responseText = $input.item.json.candidates[0].content.parts[0].text;\nconst scoredData = JSON.parse(responseText);\nconst raw = $node[\"Google Sheets Trigger (Raw Data)\"].json;\n\n// Extract district from searchString\nlet district = \"Ari\";\nconst searchStr = (raw.searchString || \"\").toLowerCase();\nif (searchStr.includes(\"สยาม\") || searchStr.includes(\"siam\")) {\n  district = \"Siam\";\n} else if (searchStr.includes(\"อารีย์\") || searchStr.includes(\"ari\")) {\n  district = \"Ari\";\n} else if (searchStr.includes(\"ทองหล่อ\") || searchStr.includes(\"thonglor\")) {\n  district = \"Thonglor\";\n} else if (searchStr.includes(\"อโศก\") || searchStr.includes(\"asoke\")) {\n  district = \"Asoke\";\n} else if (searchStr.includes(\"พร้อมพงษ์\") || searchStr.includes(\"phrom\")) {\n  district = \"Phrom Phong\";\n}\n\nreturn {\n  json: {\n    placeId: raw.placeId || \"\",\n    title: raw.title || \"\",\n    district: district,\n    category: raw.categoryName || \"ร้านอาหาร\",\n    rating: parseFloat(raw.totalScore) || 3.5,\n    reviewsCount: parseInt(raw.reviewsCount) || 0,\n    priceRange: raw.price || \"฿200-400\",\n    address: raw.address || \"\",\n    website: raw.website || \"\",\n    phone: raw.phone || \"\",\n    openingHours: raw.openingHours || \"\",\n    url: raw.url || \"\",\n    ratingScore: parseFloat(scoredData.ratingScore) || 0,\n    groupSuitabilityScore: parseFloat(scoredData.groupSuitabilityScore) || 0,\n    priceSuitabilityScore: parseFloat(scoredData.priceSuitabilityScore) || 0,\n    travelConvenienceScore: parseFloat(scoredData.travelConvenienceScore) || 0,\n    dataCompletenessScore: parseFloat(scoredData.dataCompletenessScore) || 0,\n    uniquenessScore: parseFloat(scoredData.uniquenessScore) || 0,\n    totalScore: parseFloat(scoredData.totalScore) || 0,\n    suitabilityNotes: scoredData.suitabilityNotes || \"คำนวณคะแนนผ่าน Gemini\"\n  }\n};"
      },
      "id": "a90f82bd-4e92-8b8d-a16f-ec823cf0d226",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        600,
        240
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "placeId"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "31b26002-c943-41bb-92cc-be4421b8c226",
      "name": "Write to Scored Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        800,
        240
      ]
    }
  ],
  "connections": {
    "Google Sheets Trigger (Raw Data)": {
      "main": [
        [
          {
            "node": "Call Gemini API (gemini-3.5-flash)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API (gemini-3.5-flash)": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Write to Scored Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": {}
}
